@model Domain.VmModel.Identity.EditPasswordViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h4>Şifre Güncelle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPassword">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Şifre Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
