@model Domain.VmModel.Identity.AppUserViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h3>Üye Ol</h3>

<hr />
@*<form src="api/User/SignInPost" method="post">
    <table>
        <tr>
            <td colspan="3"><div asp-validation-summary="All"></div></td>
        </tr>
        <tr>
            <td><label asp-for="UserName"></label></td>
            <td><input asp-for="UserName" /></td>
            <td><span asp-validation-for="UserName"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td><input asp-for="Email" /></td>
            <td><span asp-validation-for="Email"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Sifre"></label></td>
            <td><input asp-for="Sifre" /></td>
            <td><span asp-validation-for="Sifre"></span></td>
        </tr>
        <tr>
            <td colspan="3"><input type="submit" value="Üye Ol" /></td>
        </tr>
    </table>
</form>*@
<div id="app">
    <div class="columns">
        <div class="column is-3">
            <h2 class="title">New User</h2>
            <div class="field">
                <div class="control">
                    <input class="input" v-model="newUser.UserName" />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" v-model="newUser.Email" />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" v-model="newUser.Sifre" />
                </div>
            </div>
            <input type="submit" @@click="addUser" value="Add"/>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/views/scripts/singIn.js"></script>
}