@model Domain.VmModel.Identity.AppUserViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h3>Üye Ol</h3>

<hr />
<form src="api/User/SignInPost" method="post">
    <table>
        <tr>
            <td colspan="3"><div asp-validation-summary="All"></div></td>
        </tr>
        <tr>
            <td><label asp-for="UserName"></label></td>
            <td><input asp-for="UserName" /></td>
            <td><span asp-validation-for="UserName"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td><input asp-for="Email" /></td>
            <td><span asp-validation-for="Email"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Sifre"></label></td>
            <td><input asp-for="Sifre" /></td>
            <td><span asp-validation-for="Sifre"></span></td>
        </tr>
        <tr>
            <td colspan="3"><input type="submit" value="Üye Ol" /></td>
        </tr>
    </table>
</form>

@{
}
<div id="app">
    <div class="columns">
        <div class="column is-4">
            <table class="table">
                <tr v-for="product in products" @@click="selectProduct(product)">
                    <td>{{product.description}}</td>
                </tr>
            </table>
        </div>
        <div class="column is-5" v-if="selectedProduct">
            <table class="table">
                <tr v-for="(stock,index) in selectedProduct.stock">
                    <td><input class="input" v-model="stock.description" /></td>
                    <td><input class="input" v-model="stock.qty" /></td>
                    <td><a class="button is-danger" @@click="deleteStock(stock.id,index)">Delete</a></td>
                </tr>
            </table>

            <a class="button is-warning" @@click="updateStock">
                Update Products
            </a>
        </div>
        <div class="column is-3" v-if="selectedProduct">
            <h2 class="title"> New Stock</h2>
            <div class="field">
                <div class="control">
                    <input class="input" @@keypress.enter="addStock" v-model="newStock.description" />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input" type="number" @@keypress.enter="addStock" @@keypress.45="$event.preventDefault()" @@keyup="stock = (stock === '' || stock < 0) ? 0 : stock" min="0" v-model.number="stock" />
                </div>
            </div>
            <a class="button is-success" @@click="addStock">Add</a>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/admin/stock.js"></script>
}